<div class="row" style="padding-top: 80px; padding-bottom: 20px; min-height: 900px;">	
	<div class="three columns">
		<div style=" padding-top: 7%">
			<%= image_tag "common/star.jpg", :style => "border: 1px solid #000;" %>
		</div>		
	</div>
	<div class="nine columns">
		<div style="margin-right: 20px; margin-top: 10px">
			<p>Разработка сайта города Заречный Свердловской области ведется с <b>апреля 2011 года</b>. Все это время администрация сайта пытается повысить полезность и удобность сайта.</p>
			<p><b>В сентябре 2013</b> года выпущена новая версия сайта. Использованы новые технологии, которые позволили сделать сайт более быстрым, красивым и удобным.</p>
			<p>Дальше - интересней. Мы будем стараться сделать больше, лучше!</p>
			<p>Несмотря на то, что мы предлагаем размещение рекламы, в большей части сайт живет за счет личного времени и средств его владельца и создателя.</p>
			<p>Если Вы хотите помочь развитию сайта, можете помогать на <b>Яндекс.кошелек - 41001889458232.</b></p>
			<p>Спасибо за внимание! Посылаю Вам лучи добра!</p>
		</div>
	</div>
</div>
