<div class="well">
	<div class="well well-in">

		<div class="row-fluid">
			<div class="span6">
				<div style="margin-left: 20px">
					<h4 align="center">Размещение рекламной статьи</h4>
					<p>Рекламная статья, как правило, это опубликованный материал, который, с одной стороны, претендует на то, чтобы быть интересным читателю, а с другой – продвигает вполне конкретный товар или услугу.</p>
					<p><b>Размещение готовой статьи - <span class="badge badge-success">1000 руб.</span></b></p>
					<p><b>Написание и размещение статьи (1500 - 2000 знаков) - <span class="badge badge-success">2000 руб.</span></b></p>
				</div>
			</div>
			<div class="span6">
				<div style="margin-right: 20px">
					<h4 align="center">Размещение баннера</h4>
					<p>Баннер — графическое изображение рекламного характера. Баннеры размещают для привлечения клиентов или для формирования позитивного имиджа.</p>
					<p><b>Баннер на главной странице (раздел "Новости") - <span class="badge badge-success">2000 руб./2 нед.</span></b></p>
					<p><b>Баннер в разделе "Работа в Заречном) - <span class="badge badge-success">1500 руб./2 нед.</span></b></p>
					<p><b>Баннер в разделе "Справочник предприятий и организаций") - <span class="badge badge-success">1500 руб./2 нед.</span></b></p>
					<p><b>Баннер в разделе "Заречный ТВ" - <span class="badge badge-success">1000 руб./мес.</span></b></p>
					<p><b>Баннер в разделе "О Заречном" - <span class="badge badge-success">1000 руб./мес.</span></b></p>
					<p><b>Баннер в разделе "Афиша" - <span class="badge badge-success">1000 руб./мес.</span></b></p>
				</div>
			</div>
		</div>

		<hr>

		<div class="row-fluid">
			<div class="span12">
				<div style="margin-left: 20px; margin-right: 20px">
					<h4 align="center">Аудитория сайта</h4>
					<p>Сайт города Заречный Свердловской области предлагает посетителям полезные сервисы, такие как: <b>справочник предприятий, доска объявлений, афиша культурных мероприятий, расписание автобусов, панорамы, местное тв.</b></p>
					<p>На сайте можно ознакомиться с новостями, оставить свое мнение в комментариях. Большой раздел с историей города и градообразующих предприятиях. Каждый житель Заречного может найти на сайте www.zar-city.ru полезную для себя информацию.</p>
					<p>Именно поэтому аудитория сайта так многочисленна - более <b>5000 уникальных посетителей</b> в месяц. Цифра близкая к тиражам местных газет.</p>
					<p>Размещение рекламы на сайте выгодна и эффективна.</p>
				</div>
			</div>
		</div>

		<hr>

		<div class="row-fluid">
			<div class="span12">
				<div style="margin-left: 20px; margin-right: 20px">
					<p align="center">Связаться с нами по вопросам размещения рекламы Вы можете по электронной почте: <a href="mailto:zarcity.team@gmail.com">zarcity.team@gmail.com</a></p>
				</div>
			</div>
		</div>

	</div>
</div>