<div class="row" style="padding-top: 80px; padding-bottom: 20px; min-height: 900px;">	
	<div class="three columns">
		<div style="padding-top: 15%">
			<%= image_tag "contacts/contacts.png" %>
		</div>		
	</div>
	<div class="nine columns">
		<center>
			<h3>Здравствуйте!</h3>
			<br>
			<p style="font-size: 18px;">Вы можете отправить свое сообщение нам на почту: </p>
			<a href="mailto:zarcity.team@gmail.com"><p style="font-size: 18px;">zarcity.team@gmail.com</p></a>
			<br>
			<i><p style="font-size: 18px;">С уважением, Администрация сайта Zar-city.ru</p></i>
		</center>
	</div>
</div>