// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: LIT;
    src: url('HypatiaSansPro-Light.otf');
}

.navbar ul li > a {
	font-size: 1.4rem !important;
}

p, ol, ul, td {
	font-size: 1.4rem !important;
	font-family: LIT !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: LIT !important;
}

.row {
	max-width: 1140px !important;	
} 